PORT=3000
SERVER_RELEASE_ID=
ADMIN_API_SESSION=
ADMIN_SESSION_TTL_MS=86400000
# Use either:
# 1) Full Firebase service-account JSON string
# 2) Absolute path to a JSON file on the server
FIREBASE_SERVICE_ACCOUNT_JSON=
